<div>
  <mat-toolbar color="primary" class="navbar" >
    <div id="header">
      <span><mat-icon role="img" title="angular" svgicon="menu" ><svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></mat-icon></span>
      <span><img src="assets/img/angular_icon.svg" width="37" height="40" style="margin-top: 2px;" alt="ANGULAR" ></span>
      <span>FEATURES</span>
      <span>DOCS</span>
      <span>RESOURCES</span>
      <span>EVENTS</span>
      <span>BLOG</span>
    </div>
    <div id="logos">
      <span><img src="assets/img/twitter.png" width="30" height="30" ></span>
      <mat-icon>home</mat-icon>
    </div>
  </mat-toolbar>
  
  

  </div>