.cards{
    display:flex;
    flex-wrap: wrap;
    
}
.card {
   
    flex: 1 0 calc(33.33333333% - (10px + 20px));
    min-width: 200px;
    max-width: 350px;
    margin: 15px;
    border: 1px solid #ccc;
    margin-top:95px;
}
.card img {
   width:100%;
}
img{
    display: block;
}
.card-body {
    padding: 20px;
    font-size: .9em;
}

article {
    display: block;
}
div{
    display: block;
}
#btn{
    bottom:0px;
    float:right;
    
}
