

<div class="cards">
   
  <div class ="container">
    Search:<input type="text" placeholder="Search Title" [(ngModel)]="searchText"/>
    <br/>
  </div>
  <div style="margin-left:30px;" *ngIf="!hasData()">No Data Found</div>
  <div *ngFor="let data of filteredList ">

    <article class="card">
      
      <img src="{{data.image}}" onerror="this.src='assets/img/css-example.png';" >
      <div class="card-body">
        <div class="body_content">
          <h2>{{data.title}}{{data.id}}</h2>
          <p>{{data.description}}</p>
        </div>
          <div class="card-footer">
           
            <button class="btn btn-success" id="btn" (click)="redirectTo(data)">Learn More</button>
          </div>
        </div>
       
    </article>

    
  </div>
    <a routerLink="/app-card" routerLinkActive="active"><mat-icon id="matId" >add_circle</mat-icon></a>
  </div>
  

